:root {
    --dark-mode-elements: hsl(209, 23%, 22%);
    --dark-mode-background: hsl(207, 26%, 17%);
    --dark-mode-text: hsl(0, 0%, 100%);
    --light-mode-text: hsl(200, 15%, 8%);
    --light-mode-input: hsl(0, 0%, 52%);
    --light-mode-background: hsl(0, 0%, 98%);
    --light-mode-elements: hsl(0, 0%, 100%);

    --homepage-text: 14px;
    --detail-page-text: 16px;

    --font-family: 'Nunito Sans'
}

header {
    background-color: var(--light-mode-elements);
}

body {
    background-color: var(--light-mode-background);
    font-family: var(--font-family);
    color: var(--light-mode-text);
    font-size: var(--homepage-text);
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    box-shadow: 0px 5px 12px -10px var(--light-mode-input);
}

.navbar__darkmode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.navbar__darkmode-text {
    margin: 0 0.5em;
    font-weight: bold;
}

/* Home Page */
/* Container Top */

.container__top {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: 2.5em auto;
    align-items: center;
}

.container__top-search {
    display: flex;
    align-items: center;
    width: 30%;
    background-color: var(--light-mode-elements);
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px var(--light-mode-input);
    transition: box-shadow 0.3s;
}



.container__top-search-icon {
    margin: 1em 0 1em 2em;
    cursor: pointer;
}



.container__top-search-text {
    margin: 1em 0 1em 2em;
}

.container__top-search-text {
    border: none;
    outline: none;
}

.container__top-search:focus-within {
    box-shadow: 0px 0px 5px 2px var(--light-mode-input);
}

.container__top-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--light-mode-elements);
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px var(--light-mode-input);
}

.container__top-filter {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.container__top-filter-text,
.container__top-filter-icon {
    margin: 1em;
}

.container__top-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.container__top-dropdown:hover .container__top-content {
    display: block;
}

.container__top-content {
    display: none;
    position: absolute;
    background-color: var(--light-mode-elements);
    width: 100%;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px var(--light-mode-input);
}

.container__top-content p {
    padding: 7px 14px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: font-weight 0.2s;
}

.container__top-content p:hover {
    font-weight: bold;
}

/* Container Flags */

.container__flags {
    display: grid;
    grid-template-areas:
        "container__flags-card container__flags-card container__flags-card container__flags-card";
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1180px;
    margin: 0 auto 6em;
}

.container__flags-card {
    width: 250px;
    background-color: var(--light-mode-elements);
    box-shadow: 0px 0px 5px -2px var(--light-mode-input);
    padding-bottom: 3em;
    margin-bottom: 3em;
}

.container__flags-card-flag {
    width: 250px;
    height: 166px;
    transition: box-shadow 0.3s;
}

.container__flags-card-flag:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px var(--light-mode-input);
}

.container__flags-card-texts {
    display: block;
    align-items: center;
    padding: 0 2em;
}

.container__flags-card-texts-name {
    font-size: 17px;
    margin: 17px 0;
}

.container__flags-card-texts-info {
    font-size: 14px;
    margin: 0.3em 0 0 0;
}

/*Country Page*/

.country-page {
    font-size: var(--detail-page-text);
}

.container__top-button {
    display: flex;
    align-items: center;
    width: auto;
    background-color: var(--light-mode-elements);
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px var(--light-mode-input);
    cursor: pointer;
    transition: box-shadow 0.3s;

}

.container__top-button:hover {
    box-shadow: 0px 0px 5px 2px var(--light-mode-input);
}

.container__top-button-icon {
    margin: 0.5em 0 0.5em 2em;
}

.container__top-button-text {
    margin: 0.5em 02em 0.5em 1em;
}

.container__country {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
    width: 1180px;
    margin: 0 auto;
}

.container__country-image {
    width: 576px;
}

.container__country-details {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(3 auto);
    grid-column-start: 2;
    padding: 2em 0 2em 4em;
}

.container__country-details-list {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
}

.container__country-details-border {
    display: flex;
    align-items: center;
    padding: 0;
    height: auto;
}

.container__country-details-border-country {
    color: var(--light-mode-text);
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px var(--light-mode-input);
    padding: 3px 15px;
    margin-left: 1em;
    transition: box-shadow 0.3s;
}

.container__country-details-border-country:hover {
    box-shadow: 0px 0px 5px 2px var(--light-mode-input);
    cursor: pointer;
}